.font-title {
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto Medium", sans-serif; }

.font-subtitle {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto Medium", sans-serif; }

.font-paragraph {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto Regular", sans-serif; }

.font-remark, .font-placeholder {
  font-size: 16px;
  font-weight: 400;
  font-style: normal; }

.font-status {
  font-size: 24px;
  font-weight: 400;
  font-style: italic; }

.font-complate {
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  color: #9B9B9B; }

.font-button {
  font-size: 17px;
  font-family: "Roboto Regular", sans-serif; }

.color-dark-gray {
  color: #757575; }

.font-checkbox {
  margin-left: 48px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.menu-container {
  background-color: #4a90e2; }

.menu {
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  display: flex;
  height: 76px; }

.menu-item {
  flex-grow: 1;
  float: left;
  text-align: center;
  line-height: 76px; }
  .menu-item span {
    color: #00408b;
    font-size: 17px;
    display: inline-block;
    height: 76px;
    transition: 0.3s; }
  .menu-item span:hover {
    border-bottom: 5px solid #00408b;
    color: #ffffff; }
  .menu-item.active span {
    border-bottom: 5px solid #00408b;
    color: #ffffff;
    font-family: "Roboto Medium", sans-serif; }

.list-container {
  margin: 24px 20px 0px 20px; }

.list-item.list-item-add {
  height: 65px;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  background-color: #ffffff;
  color: #c8c8c8; }
  .list-item.list-item-add::before {
    content: attr(placeholder);
    line-height: 65px;
    font-size: 17px;
    margin-left: 15px;
    font-family: "Roboto Regular", sans-serif; }

.list-item-edit-block {
  margin-top: 22px;
  margin-bottom: 24px;
  border-radius: 5px;
  box-shadow: 4px 0px 2px 0px #EEEEEE;
  background-color: #f2f2f2; }

.list-item {
  line-height: 76px;
  display: flex;
  background-color: #f2f2f2; }
  .list-item.important {
    background-color: #fff2dc; }

.list-item-block {
  margin-bottom: 8px;
  border-radius: 5px; }

.edit-title {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 3px solid #c8c8c8; }

.edit-body {
  height: 440px; }

.list-item-chackbox {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 32px;
  bottom: 28px;
  position: relative; }
  .list-item-chackbox input {
    position: absolute;
    z-index: -1;
    opacity: 0; }

.checkbox-display {
  position: relative;
  height: 24px;
  width: 24px;
  background: #ffffff; }
  input:not([disabled]):checked ~ .checkbox-display {
    background: #4a90e2; }
  .checkbox-display:after {
    content: '';
    position: absolute;
    display: none; }
    .list-item-chackbox input:checked ~ .checkbox-display:after {
      display: block; }
    .list-item-chackbox .checkbox-display:after {
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }

.edit-body {
  margin-left: 32px; }

.form-label {
  margin-top: 23px; }
  .form-label .font-subtitle .far {
    margin-right: 9px; }

.form-editor {
  margin-left: 23px;
  margin-top: 8px; }
  .form-editor .form-control {
    font-size: 16px;
    border: none;
    line-height: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    margin-right: 8px; }
  .form-editor input {
    height: 35px;
    width: 162px; }
  .form-editor .form-control:focus, .form-editor button:focus {
    background-image: none;
    background-position: 50% 50%;
    border-color: #76abd9;
    -webkit-box-shadow: 0 0 7px 0 #76abd9;
    box-shadow: 0 0 7px 0 #76abd9; }

.star.active {
  color: #f5a623; }

.pen.active {
  color: #4a90e2; }

.list-item-icon {
  text-align: right;
  flex-grow: 1; }
  .list-item-icon i {
    margin-right: 32px;
    font-size: 17px;
    line-height: 76px; }

#file-upload-button {
  color: white;
  font-size: 24px;
  width: 32px;
  height: 32px;
  border: none; }

.d-none {
  display: none; }

.d-flex {
  display: flex; }

#file-info {
  padding-right: 23px; }

textarea {
  resize: none;
  max-width: 445px;
  height: 120px; }

.btn {
  border: none;
  flex-grow: 1; }
  .btn.btn-cancel {
    background: #ffffff;
    color: #d0021b; }
  .btn.btn-add {
    background: #4a90e2;
    color: #ffffff; }

@media (min-width: 1200px) {
  .menu {
    max-width: 1140px; } }

@media (min-width: 768px) {
  .menu {
    max-width: 660px; }
  .menu-item {
    width: 220px; }
    .menu-item span {
      width: 160px; }
      .menu-item span.font-title {
        font-size: 24px; }
  .list-container {
    width: 620px;
    margin: 24px auto 0px auto; }
  .font-title {
    font-size: 24px; }
  .list-item-icon i {
    font-size: 24px; }
  .item-file {
    display: flex; }
  .edit-body {
    margin-left: 72px; }
  textarea {
    width: 445px; }
  .font-button {
    font-size: 24px; }
  .list-item.list-item-add::before {
    font-size: 24px; }
  .list-item .font-complate {
    font-size: 24px; } }
